:root{
  --mainDark: #343a40;
  --mainGrey: rgba(109,109,109);
  --mainLightGrey: rgba(172,172,172);
  --mainWhite: #fff;
  --mainBlue: #007bff;
}

.navbar-toggler:focus {
  outline: none;

}

.navbar-toogle{
  border:none;
}
.card-deck{
  margin-top: 4rem;
  margin-left: 15px;
}

.container{
  padding-top: -100px;
}
.tab-content mb-1{
  display:flex;
  flex-wrap: wrap;
}
.about{
  @media(max-width: 760px){
    margin-left: 0px;
  
    }
}